nohup.out
results/**
reports/**
resources/**
logs/**
.snakemake
.snakemake/**
.test/results/*
workflow/notebooks/.ipynb_checkpoints/**
**/.Rhistory
**/*.Rproj
**/.Rproj.user/**
**/.RData
**/Rplots.pdf
sps-*
**/*.html
